cmd/ts-quickjs/bin/
cmd/sql-runner/bin/
cmd/auth-server/bin/
cmd/admin-server/bin/
cmd/bff-server/bin/
cmd/ts-quickjs/conf/config.json
cmd/sql-runner/conf/config.json
cmd/auth-server/conf/config.json
cmd/admin-server/conf/config.json
cmd/bff-server/conf/config.json
cmd/ts-quickjs/logs/
cmd/sql-runner/logs/
cmd/auth-server/logs/
cmd/admin-server/logs/
cmd/bff-server/logs/
.vscode/
scripts.db
coverage.out
coverage.html
STANDARDS.md
.jwt_secret
auth-server
bff-server
frontend/dist/
frontend/node_modules/
