{
    "host": "127.0.0.1",
    "port": "9724",
    "jwt_secret": "",
    "token_expire_hours": 1,
    "redis_addr": "",
    "redis_password": "",
    "redis_db": 0,
    "log": {
        "debug": "info",
        "access": "info",
        "panic": "error"
    }
}
